/*resets rule*/
body, header, nav, main, h1, div, img, ul, p,
section, article{
    margin: 0;
    padding: 0;
    border: 0;
}


/*Rules for body*/
body{
    background-color: #e1e0f0;
}


/*Rules for header*/
header {
    background-color: #e1e0f0;
    font-size: 20px;
}


/*rules for nav*/
nav {
    background-color: blue;
    padding: 60px;
}

#name h1{
    float: left;
    display: flex;
    background-color: #18222c;
    color: skyblue;
    padding: 20px;
    margin: 10px;
}

nav ul{
    float: right;
    margin: -10px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    font-weight: bold;
}

nav li a {
    list-style-type: none;   
    color: #18222c;
}


/*Rules for header figure*/
#pHeader{
    position: relative;
}

#pHeader img {
    width: 40%;
    max-height: auto;
}

#pHeader figcaption {
    position: absolute;
    right: 0;
    bottom: 50px;
    background-color: #18222c;
    color:skyblue;
    padding: 40px;
    font-size: 40px;
    margin: 20px;
}


/*Rules for main sections*/
#aboutMe, #work, #contactMe, #resume, h3 {
    font-size: 70px;
    font-weight: bold;
    border-right: 5px solid #18222c;
    
    color: blue;
    margin-right: 10px;
    margin-left: 20px;
    padding-right: 10px;
}

#aboutMe, #work, #contactMe, #resume, p{
    font-size: 25px;
    margin: 10px;
    width: 1700px;
}

#aboutMe, #work, #contactMe, #resume, p, h3{
    display: inline-block;

}

#work img {
    display: flex;
    width: 100%;
}
#contactMe a {
    display: flex;
}